div#menu li {
	margin: 0;
	padding: 0;
	border-left: 3px solid #571409;
	color: inherit;
}

div#menu li li {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #571409;
	width:100%;
}

div#menu li li a {
	width:92%
	padding:2% 4% 2% 4%;
}